.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  text-align: center;
}

.inputContainer {
  margin-bottom: 10px;
}

.input {
  padding: 8px;
  margin-bottom: 10px;
  width: 200px;
}

.button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}
  
  